 .container {
    background-image:linear-gradient( to bottom left, rgb(73, 2, 2),rgb(31, 30, 30),black);
    background-repeat: no-repeat;
    background-position: fixed;
    width: 100%;
 }
 .max-width .checkoutform{
	margin:0% 267px;
	width: 60%;
}
.max-width .checkoutform h1{
	margin: 15px 20px 10px 15px;
	font-size: 25px;
    text-align: center;
    
}
 .max-width .checkoutform  .card{
	width: 90%;
	border: 3px solid #E3E8E8;
	margin:10px 0px;
}
 .max-width .checkoutform .card .box{
	background-color: white;
	padding-bottom: 20px;

}
.max-width .checkoutform .card .box .form{
	width: 60%;
}
.max-width .checkoutform .card .box .form label{
	margin:10px 10px 10px 10px;
}
.max-width .checkoutform .card .box .form .text{
	margin:0px 10%;
}
.max-width .checkoutform .card .box .text1{
	margin:10px 10px;
	font-size: 18px;
	font-weight: bold;
}
 .max-width .checkoutform .card .box img{
	margin:10px 10px 10px 10px;
	width:35px;
}
 .max-width .checkoutform .card .box .text{
	margin:10px 10px 10px 10px;
}
 .max-width .Carsrent .calculate{
	width:30%;
	margin:20px 0px;
}
 .max-width .Carsrent .calculate .card{
	border: 3px solid #E3E8E8;
}
 .max-width .Carsrent .calculate .card .box .text1{
	font-size: 20px;
}
 .max-width .Carsrent .calculate .card .box .pricing{
	font-size: 17px;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between ;
	margin:20px;
}
 .max-width .Carsrent .calculate .card .box .text2{
	margin:10px 6px;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
}